ul {list-style-type: none;}

.month {
    padding: 50px 25px;
    width: 96.5%;
    background: #457B9D;
    text-align: center
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: #F1FAEE;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
    font-size: 20px;
}

.month .next {
    float: right;
    padding-top: 10px;
    font-size: 20px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #A8DADC;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #1D3557;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #F1FAEE;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 12px;
    color: #000000;
}

.days li .active {
    padding: 5px;
    background: #457B9D;
    color: white;
}